= simple_form_for :comment, url: post_comments_path(@post), method: :post do |f|
  - if !parent.nil?
    = f.input :parent_id, input_html: { value: parent.id }, as: :hidden
  = f.input :content, as: :text, label: false, input_html: { autocomplete: 'off' }
  = f.submit t('actions.create_comment'), class: 'btn btn-primary mb-2'
