<h1>
  <%= t('home.title') %>
</h1>

<% @posts.each do |post| %>
  <div class="border rounded p-3 my-3">
    <h4>
      <%= link_to post.title, post_path(post), class: 'text-white'  %>
    </h4>
    <div class="mb-3">
      <%= post.body %>
    </div>
    <div>
      <small class="text-muted">
        <%= post.creator.email %>
      </small>
    </div>
  </div>
<% end %>
