<% if notice %>
  <div class="alert alert-success" role="alert">
    <p><%= notice %></p>
  </div>
<% end %>

<%= render @post %>
<%= render partial: 'comments/form', locals: { post: @post, parent: nil } %>
<%= render 'comments/comment', comment: @comment, post: @post, user: current_user %>
<%#= render @post.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>

<script type="text/javascript">
  document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
      ev.preventDefault();
      el.nextElementSibling.style = 'display: block;'
    })
  })
</script>
