<% if notice %>
  <div class="alert alert-success" role="alert">
    <p><%= notice %></p>
  </div>
<% end %>

<%= render @post %>
<%= render partial: 'post_comments/form', locals: { post: @post, parent: nil } %>

<% @post.comments.order(id: :desc).each do |comment| %>
  <%= (render comment) if (comment.root?) %>
<% end %>
